body {
  padding-bottom: 20px;
  border-top: solid 5px #cc7300;
}

a, a:hover {
  color: #cc7300;
}

h1, h2, h3, h4 {
  color: #4c590a;
  font-family: Arial,sans-serif;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.header {
  margin: 30px 0;
}

.page-header {
  border-top: solid 5px #f2f1e2;
  border-bottom: none;
  padding-top: 7px;
}

.page-header h4 {
  margin-bottom: 3px;
}

.page-header h3 {
  margin-top: 12px;
}

hr {
  margin-bottom: 10px;
  color: #f2f1e2;
  background-color: #f2f1e2;
  height: 4px;
}

.links {
  margin-bottom: 30px;
  padding: 2px 0 0 0;
  background: url(/assets/bg.jpg) no-repeat right top;
  height: 213px;
}

.links ul li {
  padding-left: 0;
}

.links a:hover {
  text-decoration: none;
}

@media (max-width: 480px) {
  .links {
    background: none;
    height: 105px;
  }
}

ul.activities > li {
  margin-bottom: 12px;
}

ul.activities li ul {
  margin-top: 4px;
}

ul.activities li ul li {
  padding-left: 0;
}

.more-activities {
  margin-top: 30px;
}

@media (max-width: 767px) {
  ul.tags {
    margin-top: 50px;
    text-align: left;
  }

  ul.tags li {
    display: inline-block;
  }
}
