/* Idea of the layout was stolen from https://github.com/phinze/phinze.github.io */

html {
  max-width: 44em;
  min-width: 20em;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h2 small {
  float: right;
  font-weight: normal;
}

p {
  margin: 1em 0;
}

a {
  color: #4c57d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #4c57d8;
}

.clear {
  clear: both;
}

.separator {
  display: inline-block;
  margin-right: 0.3em;
  font-family: Monaco, "Courier New", monospace;
  font-size: 90%;
  color: #555;
}

.content {
  text-align: left;
  margin: 3em 1em;
  line-height: 1.5em;
}

.header {
  border-bottom: solid #f0f0f0 1px;
}

.header h1 {
  margin-bottom: 0.5em;
}

.header img {
  vertical-align: -40%;
  height: 1.2em;
  padding: 0 0.2em;
}

.header a {
  color: #444;
}

.header a.contact:hover {
  text-decoration: none;
}

.header a.contact {
  display: none;
  vertical-align: middle;
  background-image: url('/images/mail.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.header:hover a.contact {
  display: inline-block;
}

.footer {
  overflow: hidden;
  margin-top: 2em;
  border-top: 4px solid #eee;
  font-size: 90%;
  color: #666;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

h2 .tag-title {
  font-weight: normal;
}

ul.activities {
  float: left;
  width: 80%;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  line-height: 1.4em;
}

ul.activities .more {
  display: inline-block;
  margin-top: 0.5em;
}

ul.activities .activity {
  margin-bottom: 0.5em;
}

ul.activities .activity .date {
  font-family: monospace;
  font-size: 95%;
  color: #555;
}

ul.tags {
  float: left;
  width: 20%;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}

ul.tags a {
  margin-bottom: 0.5em;
}

.tags a {
  display: inline-block;
  padding: 2px 3px 3px;
  border-radius: 3px;
  border: 1px solid #aaa;
  font-size: 80%;
  line-height: 1.2em;
  color: #444;
}

.tags a:hover {
  text-decoration: none;
  border-color: #333;
  color: #000;
}

@media (max-width: 640px) {
  .content {
    margin-top: 1.5em;
  }

  .header a.contact {
    display: inline-block;
  }

  ul.activities {
    float: none;
    width: 100%;
  }

  ul.tags {
    float: none;
    width: 100%;
    text-align: left;
  }

  ul.tags li {
    display: inline-block;
  }

  ul.tags a {
    margin-right: 0.2em;
  }
}
