* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  width: 800px;
  margin: auto;
}

a {
  color: #00a;
}

a:hover {
  color: #333;
}

.content {
  width: 42em;
  margin: 3em auto 2em auto;
}

.title {
  padding-top: 1em;
  font-weight: bold;
  font-size: 115%;
  color: #a00;
}

.links {
  list-style-type: none;
  margin-top: 1em;
}

.links .contact {
  margin-top: 1em;  
}

.links .contact a {
  color: #333;
}

.content img {
  float: left;
  margin-right: 2em;
}
