<ul class="activities">
  {% for activity in site.activities limit: include.activity_count %}
    <li class="activity {{ activity.tags | join ' ' }}">
      <span class="date">
        {{ activity.date | date: '%d %b %Y' }} &raquo;
      </span>

      <a href="{{ activity.link }}">{{ activity.text }}</a>

      <div class="tags">
        {% for tag in activity.tags %}
          {% include tag.html tag=tag %}
        {% endfor %}
      </div>
    </li>
  {% endfor %}

  {% if include.activity_count < site.activities.size %}
    <li>
      <a href="/activity.html">more &raquo;</a>
    </li>
  {% endif %}
</ul>

<ul class="tags">
  {% for tag in site.activity_tags limit: include.tag_count %}
    <li>{% include tag.html tag=tag %}</li>
  {% endfor %}
</ul>

<div class="clear"></div>
