<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Andrew Djoga" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Andrew Djoga is a Full Stack Software Engineer and works primarily on Ruby and JavaScript projects."/>
    <title>{{ page.title }} - andrewdjoga.com</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/png">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32548085-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h4 class="header">
        <a href="/">andrewdjoga.com</a>
        <span class="text-muted">| curious about how things work</span>
      </h4>

      {{ content }}

      <hr>
      <div class="text-muted footer">
        &copy; 2011-2013 Andrew Djoga
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
